<!--The content below is only a placeholder and can be replaced.-->
<h3>Nuclear Family:</h3>
<h4>Parent</h4>
<hr>

<a routerLink="family">Family</a> &nbsp;

<a routerLink="todo">Task Manager</a> &nbsp;
<a routerLink="directive">Directive</a> &nbsp;
<a routerLink="inbuiltpipe">Pipe</a> &nbsp;
<a routerLink="templateform">Template Form</a> &nbsp;
<a routerLink="modelform">Model Form</a>&nbsp;
<a routerLink="consumeservice1">Service1</a>&nbsp;
<a routerLink="consumeservice2">Service2</a>&nbsp;
<a routerLink="consumeremote">Remote</a>&nbsp;


<router-outlet></router-outlet>




