<h4>*ngIf Directive</h4>
<button (click)="doMagic()">*ngIf</button>
<div *ngIf="showPara">
<p>Should I display or hide?</p>

</div>

<h4>*ngFor Directive</h4>
Search: <input type="text" [(ngModel)]="searchString"> {{searchString}}
<table border="1" *ngIf="showPara">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>ZIP</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of typicodeUsers | searchFilter:searchString">

      <td>{{user.id }}</td>
      <td>{{user.name}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.address.zipcode }}</td>
      <td>{{user.address.geo.lat}}</td>
      <td>{{user.address.geo.lng}}</td>
    </tr>


  </tbody>
</table>

<h4>Switch Case Directive</h4>
<input type="text" [(ngModel)]='name'>
<div [ngSwitch]='name'> 
<div *ngSwitchCase="'obb'" style="background-color: pink; font-size: 24px;">My name is OBB</div>
<div *ngSwitchCase="'prafful'" style="background-color: greenyellow; font-size: 24px;">My name is Prafful</div>
<div *ngSwitchCase="'adi'" style="background-color:lightblue; font-size: 24px;">My name is Adi</div>
<div *ngSwitchDefault style="background-color: wheat; font-size: 24px;">I am everywhere!!!</div>

</div>

<button (click)="name='obb'">OBB</button> &nbsp;
  <button (click)="name='prafful'">Prafful</button>&nbsp;
<button (click)="name='adi'">Adi</button>&nbsp;


<h4>Custom Directive</h4>
<p ctsSetbg>My background color is set using custom directive</p>






